# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
